body {
    height: 100vh;
    overflow: hidden;
    display: flex;    
    align-items: center;
    justify-content: center;
}

#progress-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#sonic {
    width: 30px;
    height: 30px;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in;
    left: 0%;
}

#sonic[data-running=true] {
    opacity: 1;
}

#button {
    margin: 0 15px;
}